<html>
  <head>
      <link href="/assets/style.css" rel="stylesheet" type="text/css"  >
  </head>
  <body>
      <% include partials/nav.ejs %>
      <h1>Welcome <%= person %></h1>
      <h2>Age: <%=data.age%></h2>
      <h2>Email: <%=data.email%></h2>
      <ul>
          <% data.hobbies.forEach(function(item){ %>
                <li> <%=item%> </li>
            <%})
          %>
      </ul>

      <h3>Department : <%= qs.dept%> </h3>
      <h3>Date:  <%= qs.date%> </h3>
  </body>
</html>
